<p style="color: green"><%= notice %></p>

<%= render @make %>

<div>
  <%= link_to "Back to makes", makes_path %> |
  <% if @make.category %>
  <%= link_to @make.category.title, category_path(@make.category) %>
  <% end %>
</div>
