
<div id="site-home" class="container">

  <div class="row">
    <div class="col">
      <%= SiteSetting.contact %>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>

</div>
