/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

:root {
  .dashboard-btn {
    max-width: 80px;
    position: absolute;

            right: calc(50% - 80px);
            opacity: 0.0;
            &:hover {
              opacity: 0.5;
            }
  }
}

#category-makes {
  @extend .p3 !optional;
}
.category-link {
  @extend .btn, .card, .p-1, .mt-1 !optional;
  @extend .brass-bg;

}

#navbar ul a:hover {
	//background-color: #606060!important;
	color: #FFFFFF!important;
}

.make-link {
  @extend .btn, .card, .p-1 !optional;
  @extend .brass-bg;
}

.brass-bg {
  background-image: linear-gradient(to right, #e5b07f,#ebdcce,#d9c37f );
}

.fl-menu {
  @extend .brass-bg !optional;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;

        font-weight: bold;
        padding: 5px;
        border-radius: 4px;
        font-size: 90%;

        border-style: ridge;
        @extend .p-3 !optional;
        z-index: 1;

         ul a:hover {
        	background-color: rgba(244,244,244,0.1);
        	//color: #FFFFFF!important;
        }

}
