<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SteveGraySaxes.com</title>
<link rel="stylesheet" type="text/css" href="./index.css" media="all" />
<!--[if IE]>
<style type="text/css" media="all">.borderitem {border-style:solid;}</style>
<![endif]-->
<style type="text/css">
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18053902-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<style type="text/css">
@import url(http://www.google.com/cse/api/branding.css);
</style>
</head>

<body>

<div id="wrapper">
  <img src="images/header.jpg" id="header"  alt="SteveGraySax.com_header" />
  
<div id="gradient_background">
  <div id="menuwrapper">
    <ul id="p7menubar">
      <li><a href="index.htm">Home</a></li>
      
      <li><a class="trigger" href="alto_sax.htm">Saxes and other Woodwinds</a>
        <ul>
          <li><a href="soprano_sax.htm">soprano saxes</a></li>
          <li><a href="alto_sax.htm">alto saxes</a></li>
          <li><a href="tenor_sax.htm">tenor saxes</a></li>
          <li><a href="bari_sax.htm">bari saxes</a></li>
          <li><a href="clarinets.htm">clarinets</a></li>
          <li><a href="flutes.htm">flutes</a></li>
          <li><a href="misc_woodwinds.htm">misc. woodwinds</a></li>
        </ul>
      </li>
      <li><a class="trigger" href="brass.htm">Brass</a>
        <ul>
          <li><a href="brass.htm">trumpets</a></li>
          <li><a href="brass.htm">trombones</a></li>
          <li><a href="brass.htm">french horn</a></li>
        </ul>
      </li>
      <li><a class="trigger" href="guitars_and_amps.htm">Guitars and Amps</a>
        <ul>
          <li><a href="guitars_and_amps.htm">gibson</a></li>
          <li><a href="guitars_and_amps.htm">stratocaster</a></li>
          <li><a href="guitars_and_amps.htm">peavey</a></li>
          <li><a href="guitars_and_amps.htm">yamaha</a></li>
        </ul>
      </li>
      <li><a class="trigger" href="orchestral_strings.htm">Orchestral Strings</a>
        <ul>
          <li><a href="orchestral_strings.htm">violins</a></li>
          <li><a href="orchestral_strings.htm">cellos</a></li>
          <li><a href="orchestral_strings.htm">basses</a></li>
          <li><a href="orchestral_strings.htm">dulcimers</a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
      <li><a class="trigger" href="miscellaneous.htm">Miscellaneous</a>
        <ul>
          <li><a href="miscellaneous.htm">microphones</a></li>
          <li><a href="miscellaneous.htm">midi sax</a></li>
          <li><a href="miscellaneous.htm"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
      <li><a href="sitemap.htm">Sitemap</a></li>
    </ul>
    <br class="clearit" />
  </div>
  <div id="Links">
  <h3>Steve Recommends:</h3>
  <ul>
          <li><a href="teachers.htm">Teachers (coming soon)</a></li>
          <li><a href="rentals.htm">Rentals (coming soon)</a></li>
          <li><a href="http://www.santacruzjazz.org/index.php">Santa Cruz Jazz Society</a></li>
          <li><a href="http://www.flickr.com/photos/47387225@N00/">My Flikr Slide Show (featuring instruments that are for sale)</a></li>
          
        </ul>
  </div>
  <div id="main_content">
    <h1> Welcome to SteveGraySaxes.com</h1>
  <p>I buy, sell, repair and trade band instruments of all kinds.</p>
  <p> I specialize in the Woodwinds. Vintage, new and used <a href="flutes.htm">flutes</a>, <a href="clarinets.htm">clarinets</a>, <a href="alto_sax.htm">saxophones</a> and the <a href="misc_woodwinds.htm">double reeds</a>.</p>
  <p> I also have Brass Winds such as <a href="brass.htm">trumpets, coronets, trombones</a>, etc.</p>
  <p> <a href="guitars_and_amps.htm">Guitar and guitar amplifiers</a> are also a specialty of mine, concentrating on <a href="guitars_and_amps.htm">Gibson, Fender and Martin guitars</a>.</p>
  <p> Last but not least are the Orchestral Strings such as the <a href="orchestral_strings.htm">violin, cello and basses</a>. </p>
  <p>Also see the fine line of <a href="miscellaneous.htm">Miscellaneous instruments</a>.</p>
  </div>
  
</div>
<div id="footer">
<p class="Txt_email">
Contact me:
<a href="mailto:saxgray@gmail.com">saxgray@gmail.com</a></p>

	



<p class="Txt_copyright">

	&copy;2010 Steve Gray. All images and content belong to stevegraysaxes.com. Website by Jason.

</p>
</div>
</div>

</body>
</html>
