
<div id='instrument_actions' class='d-flex justify-content-center'>
  <%= link_to "all instruments", instruments_path, class:'btn btn-secondary' %>
  <% if @instrument.make.present? %>
    <%= link_to 'back to ' << @instrument.make.title, make_path(@instrument.make), class: 'btn btn-primary make-link' %>
  <% end %>
</div>

<%= render @instrument %>

<div class="container">

  <div id="instrument_flickr_photo" class="justify-content">

          <% if @instrument.flickr_photo.present?%>
            <strong>flickr_photo:</strong>
            <%= render @instrument.flickr_photo %>
          <% end %>
  </div>
</div>
