
<div id="<%= dom_id flickr_photo %>">

  <div class='container'>
      <% if flickr_photo.photo_set %>
      <% flickr_photo.photo_set.each do |fp| %>

          <%= image_tag fp.source %>

      <% end %>
      <% else %>

        <%= sanitizes flickr_photo.embed %>
      <% end %>
  </div>
</div>
