
<div id="<%= dom_id flickr_photo %>">

  <div class='container'>
      <% if flickr_photo.photo_set_count > 0 %>


        <h5>album</h5>

        <%= link_to '...', flickr_photo_path(flickr_photo), class:'triple-dot-link' %>

      <% else %>
        <%= sanitize strip_links flickr_photo.embed%>
      <% end %>
  </div>
</div>
