<h1>Editing flickr photo</h1>

<%= render "form", flickr_photo: @flickr_photo %>

<br>

<div>
  <%= link_to "Show this flickr photo", @flickr_photo %> |
  <%= link_to "Back to flickr photos", flickr_photos_path %>
</div>
